#home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#home > .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

#home > .left > p {
  font-weight: 400;
  font-size: 60px;
  line-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
}

.link-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link-item > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

#home > .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home > .right > img {
  width: 100%;
}

@media (max-width: 1000px) {
  #home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  #home > .right {
    width: 70%;
  }

  #home > .left {
    width: 100%;
  }

  #home > .left > p {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
  }
}
